{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "ecmaVersion": true,
      "impliedStrict": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": false,
    "mocha": false,
    "jasmine": false
  },
  "globals": {
    "window": true,
    "$": true,
    "jQuery": true,
    "angular": true,
    "_": true,
    "lodash": true,
    "moment": true,
    "OT": true,
    "CIQ": true,
    "DebugConfig": true
  },
  "rules": {
    "max-len": ["warn", 120],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": ["error", "always"],
    "semi-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "never"],
    "accessor-pairs": "off",
    "block-scoped-var": "error",
    "curly": ["error", "multi-line"],
    "dot-notation": [
      "error",
      {
        "allowKeywords": true
      }
    ],
    "eqeqeq": ["warn", "allow-null"],
    "no-alert": "warn",
    "no-else-return": "warn",
    "no-empty-function": [
      "error",
      {
        "allow": [
          "arrowFunctions",
          "functions",
          "methods"
        ]
      }
    ],
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-eq-null": "warn",
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "warn",
    "no-ex-assign": "error",
    "no-implicit-globals": "off",
    "no-implied-eval": "error",
    "no-magic-numbers": "off",
    "no-irregular-whitespace": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-regex-spaces": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "warn",
    "no-sparse-arrays": "error",
    "no-template-curly-in-string": "error",
    "no-throw-literal": "error",
    "no-unexpected-multiline": "error",
    "no-unmodified-loop-condition": "off",
    "no-unreachable": "error",
    "no-useless-escape": "warn",
    "no-void": "error",
    "no-with": "error",
    "radix": "error",
    "spaced-comment": "off",
    "no-unused-expressions": [
      "warn",
      {
        "allowShortCircuit": true,
        "allowTernary": false
      }
    ],
    "vars-on-top": "off",
    "space-in-parens": "warn"
  },

  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use, default to "createReactClass"
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "15.0", // React version, default to the latest React stable release
      "flowVersion": "0.53" // Flow version
    },
    "propWrapperFunctions": [ "forbidExtraProps" ] // The names of any functions used to wrap the propTypes object, such as `forbidExtraProps`. If this isn't set, any propTypes wrapped in a function will be skipped.
  },

  "plugins": [
    "babel",
    "react"
  ]
}
